<% include partials/header %>


<section class="center">
  <h1>Past Projects</h1>
</section>

<br>




<div class="card-deck">
  <div class="card">
    <h2 class="card-title">Residential</h2>
    <img src="../images/bc1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        See Projects
      </button>

      <!--Residential Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="card">
    <h2 class="card-title">Commercial</h2>
    <img src="../images/bc1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        See Projects
      </button>

      <!-- Commercial Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="card">
    <h2 class="card-title">General Contracting</h2>
    <img src="../images/bc1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        See Projects
      </button>

      <!--GC Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <main class="container">

  <section class="row">
    <% for(data of all_data.reverse()) { %>
    <section class="col-container">
      <section class="col">
        <section class="card">
          <section class="card-body">
            <h4 class="card-title">

              <strong>
                <h1 class="d-flex justify-content-center" style="color: #318ac4;">
                  <%= data.full_name %>
                </h1>
                <hr>

                <h4>
                  <strong class="mountain">Mountain: &nbsp
                    <i>
                      <%= data.mountain %>
                    </i>
                </h4>
              </strong>

              <h4>
                <strong class="mountain">&nbsp
                  <img height="30" width="30" src="./images/ig.png" alt="">
                  <i>
                    &nbsp
                    <%= data.insta %>
                  </i>
              </h4>
              </strong>

              <section class="row">
                <section class="col">
                  <h5>
                    <hr>
                    <strong>I have room for:</strong>
                    <%= data.passengers %>
                    <hr>
                  </h5>
                </section>

                <section class="col">
                  <h5>
                    <hr>
                    <strong>Contact:</strong>
                    <%= data.phone_number %>
                    <hr>
                  </h5>
                </section>
              </section>


              <section class="row">
                <section class="col">
                  <h5>
                    <strong>Date Going:</strong>
                    <%= data.date.toDateString() %>
                  </h5>
                </section>
                <section class="col">
                  <h5>
                    <strong>Time Leaving:</strong>
                    <%= data.time %>
                  </h5>
                </section>
              </section>
              <section class="message">
                <h5>
                  <hr>
                  <strong>Message:</strong>
                  <%= data.message %>
      
                </h5>
              </section>
            </section>
            <hr>
            <section class="moment pl-4"> Posted:
              <%= data.today.toDateString() %>
            </section>
            <hr>
          </section>
      </section>
      <br>
    </section>
    <%}%>
  </section>
  </section>
</main>
</section> -->


<% include partials/footer %>