<% include partials/header %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
  integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>





<div class="parallax z1"></div>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="box">
          <img src="../images/r1.JPG">
          <div class="content">
            <h3>Residential</h3>
            <ul class="icon">
              <li><a href="#" class="fa fa-search"></a></li>
              <li><a href="#" class="fa fa-link"></a></li>
              <br><br>
              <a href="#" type="button" class="btn btn-dark btn-lg btn-block">See Projects</a>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="box">
          <img src="../images/c1.jpg">
          <div class="content">
            <h3>Commercial</h3>
            <ul class="icon">
              <li><a href="#" class="fa fa-search"></a></li>
              <li><a href="#" class="fa fa-link"></a></li>
              <br><br>
              <a href="#" type="button" class="btn btn-dark btn-lg btn-block">See Projects</a>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="box">
          <img src="../images/gc1.JPG">

          <div class="content">
            <h3>General Contracting</h3>
            <ul class="icon">
              <li><a href="#" class="fa fa-search"></a></li>
              <li><a href="#" class="fa fa-link"></a></li>
              <br><br>
              <a href="#" type="button" class="btn btn-dark btn-lg btn-block">See Projects</a>
            </ul>

          </div>

        </div>
      </div>
    </div>
  </div>


  <hr class='line'>


  <form class='footForm'>
    <h2 class="pl-5">Inquiries</h2>
    <hr>

    <div class="row pl-5 pr-5">
      <div class="col">
        <label for="exampleFormControlInput1">First Name</label>
        <input type="text" class="form-control" placeholder="First name">
      </div>

      <div class="col">
        <label for="exampleFormControlInput1">Last Name</label>
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>

    <div class="form-group pl-5 pr-5">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>

    <div class="form-group pl-5 pr-5">
      <label for="exampleFormControlTextarea1">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="col-auto pl-5">
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </div>

  </form>

  <div class="foot">
    <div id="map"></div>
    <script>
      var map;

      function initMap() {
        var myLatLng = {lat:41.9255, lng: -87.6488};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUngzv6LeidivGsMjBw03_5f1DNFkA65s&callback=initMap"
      async defer></script>

  </div>


  <!-- <main class="container">

  <section class="row">
    <% for(data of all_data.reverse()) { %>
    <section class="col-container">
      <section class="col">
        <section class="card">
          <section class="card-body">
            <h4 class="card-title">

              <strong>
                <h1 class="d-flex justify-content-center" style="color: #318ac4;">
                  <%= data.full_name %>
                </h1>
                <hr>

                <h4>
                  <strong class="mountain">Mountain: &nbsp
                    <i>
                      <%= data.mountain %>
                    </i>
                </h4>
              </strong>

              <h4>
                <strong class="mountain">&nbsp
                  <img height="30" width="30" src="./images/ig.png" alt="">
                  <i>
                    &nbsp
                    <%= data.insta %>
                  </i>
              </h4>
              </strong>

              <section class="row">
                <section class="col">
                  <h5>
                    <hr>
                    <strong>I have room for:</strong>
                    <%= data.passengers %>
                    <hr>
                  </h5>
                </section>

                <section class="col">
                  <h5>
                    <hr>
                    <strong>Contact:</strong>
                    <%= data.phone_number %>
                    <hr>
                  </h5>
                </section>
              </section>


              <section class="row">
                <section class="col">
                  <h5>
                    <strong>Date Going:</strong>
                    <%= data.date.toDateString() %>
                  </h5>
                </section>
                <section class="col">
                  <h5>
                    <strong>Time Leaving:</strong>
                    <%= data.time %>
                  </h5>
                </section>
              </section>
              <section class="message">
                <h5>
                  <hr>
                  <strong>Message:</strong>
                  <%= data.message %>
      
                </h5>
              </section>
            </section>
            <hr>
            <section class="moment pl-4"> Posted:
              <%= data.today.toDateString() %>
            </section>
            <hr>
          </section>
      </section>
      <br>
    </section>
    <%}%>
  </section>
  </section>
</main>
</section> -->

  <% include partials/footer %>
